.previous-next-links .previous-link {
    float:left;
}

.previous-next-links .next-link {
    float:right;
}

.previous-next-links {
    padding:0 0 1em;
    font-size:0.75em;
}
.previous-next-links a {
    text-decoration:none;
}
.blog-entry h3 {
    padding:0;
    margin:1em 0 0;
    font-size:1.125em;
    clear:both;
}

.blog-entry small {
	font-size:0.675em;
	color:#000000;
}

.blog-entry h3 a {
    text-decoration:none;
}

.blog-entry-footer {
    padding:0.5em;
    text-align:center;
}

.blog-entry-tags,
.blog-entry-links {
    display:block;
    font-size:0.8em;
}

h2.category {
    font-size:1.25em;
    text-align:center;
}

.comment {
    background:rgba(0, 0, 0, 0.2);
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding:0.5em;
    margin:0.5em;
}

.comment-text {
    padding:0.5em;
}

.comment-info {
   border: 1px solid rgba(0, 0, 0, 0.6);
   background:rgba(0, 0, 0, 0.2);
   font-size:0.8em;
   padding:0.2em;
}

.author-comment {
	font-size:1.25em;
	text-shadow: #000000 1px 1px 1px;
	margin-left:1.5em;
}
