{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

{% block page_title_prefix %}{% if title != blog.name %} :: {{ blog.name }}{% endif %}{% endblock %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="alternate" type="application/atom+xml" title="{{ blog.name }}" href="{{ blog.get_feed_url }}" />
{% endblock %}

{% block sidebar %}
   <div class="side-bar-item">
    <h3>Archives</h3>
    <div class="side-bar-content">
        <ul>
           {% list_blog_archive blog %}
        </ul>
    </div>
   </div>
   <div class="side-bar-item">
    <h3>Categories</h3>
    <div class="side-bar-content">
        <ul>
          {% list_blog_categories blog %}
        </ul>
    </div>
   </div>
    <div class="side-bar-item">
    <h3>Sponsored Link</h3>
    <div class="side-bar-content">
        <iframe style="width:120px;height:240px;border:none;margin:0 auto;overflow:hidden;display:block;" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=US&amp;source=ac&amp;ref=qf_sp_asin_til&amp;ad_type=product_link&amp;tracking_id=codefisherorg-20&amp;marketplace=amazon&amp;region=US&amp;placement=1449340377&amp;asins=1449340377&amp;show_border=true&amp;link_opens_in_new_window=true&amp;linkId=HJD6G5JVEBRW6DNO"></iframe>
    </div>
   </div>
{% endblock %}

{% block footer %}
    {{  block.super }}
    <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
{% endblock %}
