{% extends "base.html" %}
{% load static %}
{% load blog_tags %}


{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/blog.css">
{% endblock %}

{% block sidebar %}
   <div class="side-bar-item">
    <h3>Archives</h3>
    <div class="side-bar-content">
        <ul>
           {% list_blog_archive blog %}
        </ul>
    </div>
   </div>
   <div class="side-bar-item">
    <h3>Categories</h3>
    <div class="side-bar-content">
        <ul>
          {% list_blog_categories blog %}
        </ul>
    </div>
   </div>
{% endblock %}

{% block footer %}
    {{  block.super }}
    <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
{% endblock %}
