{% extends "base.html" %}
{% load static %}
{% load blog_tags %}


{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/blog.css">
{% endblock %}

{% block sidebar %}
   <div class="side-bar-item">
    <h3>Archives</h3>
    <div class="side-bar-content">
        <ul>
           {% list_blog_archive blog %}
        </ul>
    </div>
   </div>
   <div class="side-bar-item">
    <h3>Categories</h3>
    <div class="side-bar-content">
        <ul>
          {% list_blog_categories blog %}
        </ul>
    </div>
   </div>
    <div class="side-bar-item">
    <h3>Sponsored Link</h3>
    <div class="side-bar-content">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=codefisherorg-20&marketplace=amazon&region=US&placement=1449340377&asins=1449340377&show_border=true&link_opens_in_new_window=true&linkId=HJD6G5JVEBRW6DNO"></iframe>
    </div>
   </div>
{% endblock %}

{% block footer %}
    {{  block.super }}
    <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
{% endblock %}
