<article class="blog-entry">
	{% if previous or next %}
    <div class="previous-next-links">
        {% if previous %}
            <a rel="prev" class="previous-link" href="{{ previous.get_absolute_url }}">&laquo; {{ previous.title }}</a>
        {% endif %}
        {% if next %}
            <a rel="next" class="next-link" href="{{ next.get_absolute_url }}">{{ next.title }}  &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
    <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
    <small><time datetime="{{ entry.posted|date:"Y-m-d H:i:s" }}">{{ entry.posted|date:"DATE_FORMAT" }}</time> by <span class="author">{{ entry.author }}</span></small>
    <div>
        <a class="twitter-share-button"
          href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ entry.get_absolute_url|urlencode }}&amp;text={{ entry.title|urlencode }}">
        Tweet
        </a>
    </div>
    <div class="blog-entry-content">
        {{ entry.format_body|safe }}
    </div>
    <div class="blog-entry-footer">
        {% with entry.get_tags as tags %}
	        {% if tags %}
	            <span class="blog-entry-tags">
	                {% for tag in tags %}
	                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
	                {% endfor %}
	            </span>
	        {% endif %}
        {% endwith %}
        <span class="blog-entry-links">
            {% with entry.get_categories as categories %}
	            {% if categories %}
	                Posted in
	                {% for category in categories %}
	                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
	                {% endfor %}
	            {% endif %}
            {% endwith %}
            {% if respond and blog.comments_enabled %}
                &bull; <a href="{{ entry.get_absolute_url }}#respond">Leave a comment</a>
            {% endif %}
        </span>
    </div>
</article>