<div class="blog-entry">
	{% if previous or next %}
    <div class="previous-next-links">
        {% if previous %}
            <a rel="prev" class="previous-link" href="{{ previous.get_absolute_url }}">&laquo; {{ previous.title }}</a>
        {% endif %}
        {% if next %}
            <a rel="next" class="next-link" href="{{ next.get_absolute_url }}">{{ next.title }}  &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
    <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
    <small>{{ entry.posted|date:"DATE_FORMAT" }} by {{ entry.author }}</small>
    <div class="blog-entry-content">
        {{ entry.body|safe }}
    </div>
    <div class="blog-entry-footer">
        {% with entry.get_tags as tags %}
	        {% if tags %}
	            <span class="blog-entry-tags">
	                {% for tag in tags %}
	                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
	                {% endfor %}
	            </span>
	        {% endif %}
        {% endwith %}
        <span class="blog-entry-links">
            {% with entry.get_categories as categories %}
	            {% if categories %}
	                Posted in
	                {% for category in categories %}
	                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
	                {% endfor %}
	            {% endif %}
            {% endwith %}
            {% if respond %}
                &bull; <a href="{{ entry.get_absolute_url }}#respond">Leave a comment</a>
            {% endif %}
        </span>
    </div>
</div>