{% extends "base.html" %}
{% load show_pagination %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="/media/themes/default/blog.css">
{% endblock %}

{% block page_title %}
    {{ title }} {% if blog_heading %}::{{ blog_heading }}{% endif %}
{% endblock %}

{% block content %}
    {% if blog_heading %}
        <h2 class="category">{{ blog_heading }}</h2>
    {% endif %}
    {% for entry in entries.object_list %}
        {% include "blog/entry.html" %}
    {% endfor %}

    {% show_pagination entries %}
{% endblock %}