{% extends "blog/base.html" %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="/media/themes/default/blog.css">
{% endblock %}

{% block content %}
    {% include "blog/entry.html" %}

    {% if comment_count == 0 %}
        <h3>This post has no comments, be the first to post.</h3>
    {% else %}
        <h3>This post has {{ comment_count }} comment{{ comment_count|pluralize }} so far.</h3>
	    <div id="blog-comments">
	        
	    </div>
    {% endif %}
    <div id="respond">
        
    </div>

{% endblock %}