{% for entry in entries %}
    <div class="blog-fragment">
        {% if images and entry.post_image %}
        <a href="{{ entry.get_absolute_url }}"><img class="blog-post-thumbnail" src="{{ entry.thumbnail }}" /></a>
        {% endif %}
        <h4><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h4>
        <span class="blog-post-date"><span class="month">{{ entry.posted|date:"M" }}</span> <span class="day">{{ entry.posted|date:"jS" }}</span></span>
        <span class="blog-post-short">{{ entry.body|striptags|truncatewords:words }} <a class="blog-post-readmore" href="{{ entry.get_absolute_url }}">Read More</a></span>
    </div>
{% endfor %}