/* try and keep this matching the style of the blog entries */

#search-fields input[type="search"]{
    width:50%;
}

#search-header h3 {
    float:left;
}

#search-header .pagination {
    float:right;
    text-align:right;
    padding:1.25em 0;
}

#search-results {
    clear:both;
    list-style-type:none;
}

#search-results h3 {
    padding:0;
    margin:1em 0 0;
    font-size:1.125em;
}

#search-results small {
    font-size:0.675em;
    color:#98bc55;
    text-align:right;
    display:block;
}


#search-results p {
    margin:0;
}

#search-results p .highlighted {
    font-weight:bold;
    color:#fff;
}

#search-results h3 a {
    text-decoration:none;
}

#search-results .result-link {
    font-size:0.675em;
    color:#98bc55;
}