{% extends "base.html" %}
{% block content %}
{% load field_form %}
<h1>Donating</h1>
<p>
 Donations support my continued efforts to create quality add-ons, icons and other content.  It covers in part the the costs and time spent working on my software.  I do what I do because of the pleasure and satisfaction I receive from it.  But receiveing something in return makes in even more worth while, so I ask you to donate and be generious to this university student.
</p>

<p>
    To donate, just press the button below, or if you want to be added to the list of people who have donated, please fill in the forum first.
</p>

{{ form.render }}

<form action="{% url 'donate-index' %}" method="post">
    {% csrf_token %}
    <fieldset>{% form donate %}
    <p><input type="submit" value="Submit" /></p>
    </fieldset>
</form>

<h2>Past Donors</h2>

<p>
A list of people that I would really like to thank for donating.
</p>

<table>
    {% for donation in donations %}
        <tr>
            <td>{% if donation.link_url and donation.should_link %}<a rel="nofollow" href="{{ donation.link_url }}">{{ donation.link_text }}</a> {% else %}{{ donation.name }}{% endif %}</td>
            <td>${{ donation.amount }}</td>
            <td>{{ donation.date }}</td>
        </tr>
    {% endfor %}    
</table>
{% endblock %}