{% extends "base.html" %}
{% load static %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}themes/default/forum.css">
{% endblock %}

{% block page_title_prefix %}{{ forums.name }} :: {% endblock %}

{% comment %}
 Need to replace the side menu, so for annon users we have something like
 
 Index
User list
Search
Register
Login

for loggedin

Index
User list
Search
Profile
Administration
Logout
Show new posts since last visit
Mark all topics as read

{% endcomment %}

