{% extends "forum/base.html" %}
{% load online_status_tags %}

{% block content %}
    <div>
      <h1>{{ forums.name }}</h1>
      {% if forums.tagline %}<p>{{ forums.tagline}}</p>{% endif %}
    </div>
    <div>
        
       {% for category in categories %}
        <div class="category"><h2>{{ category.name }}</h2>
        <table>
            <thead>
                <tr><th>Forum</th><th>Topics</th><th>Posts</th><th>Last Post</th></tr>
            </thead>
        {% for forum in category.get_forums %}
            <tr><td><h3><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> </h3>
                <p>{{ forum.description }}</p>
                </td>
                <td>{{ forum.num_threads }} topics </td><td> {{ forum.num_posts }} posts</td>
                <td>{% if forum.last_post %}<a href="{{ forum.last_post.get_absolute_url }}">{{ forum.last_post.posted }}</a><br /> by {{ forum.last_post.author_name }}
                     <br />in {{ forum.last_post.thread.subject }}{% endif %}</td></tr>
        {% endfor %}
        </table>
        </div>
       {% endfor %}
    </div>

    <div class="content-box" id="forum-info">
        <div id="user-info">
            <ul>
                <li>Newest registered user: <a href="{{ newest_user.get_absolute_url }}">{{ newest_user.username }}</a></li>
                {% online_user_count %}
                <li>Online: {% online_users 30 %}</li>
            </ul>
        </div>
        <div id="forum-stats">
           <ul>
               <li>Total Posts: {{ total_posts }}</li>
               <li>Total Topics: {{ total_topics }}</li>
               <li>Total Memebers: {{ total_users }}</li>
           </ul>
        </div>
    </div>
{% endblock %}

{% block second_footer_box %}
    <h3>Forum Links</h3>
    <ul>
        <li><a href="{% url 'forum-recent-posts' %}">Show recent posts</a></li>
        <li><a href="{% url 'forum-unanswered-posts' %}">Show unanswered posts</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts-profile' tab='forum_subscription' username=request.user.username %}">Show your subscribed topics</a></li>
            <li><a href="{% url 'forum-user-posts' %}">Show your posts</a></li>
        {% endif %}
    </ul>
{% endblock %}