{% extends "forum/base.html" %}

{% block content %}
    {% include "forum/post/crumbs.html" %}
    <div class="content-box"><p>
    {% if post.is_spam %}
        Your post was made, but was flaged as spam.  It will have to be reviwed by an admin before being made public. <a href="{% url 'forum-last-post' forums_slug=forums.slug thread_id=thread.pk %}">Return to Thread</a>
    {% elif not post.is_public %}
        Your post was made, but will not be public till it has been view by an administrator.  <a href="{% url 'forum-last-post' forums_slug=forums.slug thread_id=thread.pk %}">Return to Thread</a>
    {% else %}
        Thank you for posting at our forums! You will be directed back to your post in {{ forums.post_redirect_delay }} second{{ forums.post_redirect_delay|pluralize }}. <a href="{{ post.get_absolute_url }}">View Your Post</a>
    {% endif %}
     </p></div>
{% endblock %}