{% extends "base.html" %}
{% load field_form %}

{% block content %}
    <h1>{% if user.profile.avatar %}<img alt="" style="vertical-align:middle;" src="{{ user.profile.avatar.url }}">{% endif %}
        {{ user.username }}</h1>
    <div class="content-box">
        {% for tab_name, profile in profiles %}
            {% if not forloop.first %} &bull; {% endif %}
            <a href="{% url 'accounts-profile' tab=tab_name username=user.username %}">{{ profile.label }}</a>
        {% endfor %}
    </div>
    <h2>{{ profile_label }}</h2>
    <form action="{% url 'accounts-profile' tab=tab username=user.username %}" enctype="multipart/form-data" method="POST" class="field-form">
        {% for form in profile_data.forms %}
            {% if form.is_text %}
                {{ form|safe }}
            {% else %}
                {% field_form form %}
            {% endif %}
        {% endfor %}
    <fieldset>
        <legend>Submit</legend>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </fieldset>
</form>
{% endblock %}