{% extends "base.html" %}
{% load show_pagination %}

{% block content %}
    <h2>User List</h2>
    <table>
        <thead>
          <tr>
            <td>User name</td>
            <td>Title</td>
            <td>Registered</td>
          </tr>
        </thead>
        <tbody>
	    {% for user in users %}
            <tr>
                <td><a href="{% url 'accounts-profile' username=user.username %}">{{ user.username }}</a></td>
                <td>{{ user.profile.title }}</td>
                <td>{{ user.date_joined|date:"DATE_FORMAT" }}</td>
            </tr>
	    {% endfor %}
        </tbody>
    </table>
    {% show_pagination users user_list_page %}
{% endblock %}}