{% extends "base.html" %}
{% load show_pagination %}

{% block content %}
    <h2>User List</h2>
    <table>
        <thead>
          <tr>
            <td>User name</td>
            <td>Title</td>
            <td>Registered</td>
          </tr>
        </thead>
        <tbody>
	    {% for user in users.object_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.get_profile.title }}</td>
                <td>{{ user.date_joined|date:"DATE_FORMAT" }}</td>
            </tr>
	    {% endfor %}
        </tbody>
    </table>
    {% show_pagination users %}
{% endblock %}}