{% extends "base.html" %}
{% load gallery_tags %}

{% block page_title %}
    {{ gallery.title }}
{% endblock %}

{% block content %}
	<h1>{{ gallery.title }}</h1>
	{{ gallery.description|safe }}
	<div id="gallery">
	{% for image in images %}
		<div class="photo">
			<a href="{{ image.scaled }}" data-lightbox="lightbox-{{ gallery.slug }}" data-title="{{ image.description|striptags }}">{% gallery_thumbnail image %}
				<span {% if thumber %}style="width:{{thumber.width}}px" {% endif %}class="photo-description">{{ image.description|safe }}</span>
			</a>
		</div>
	{% endfor %}
	</div>
{% endblock %}
