{% extends "base.html" %}

{% block page_title %}
    {{ gallery.title }}
{% endblock %}

{% block page_image %}<img src="/media/images/banners/statue_bearers.jpg" width="950" height="438" id="header-image" />{% endblock %}

{% block content %}
	{% for image in images %}
		<div class="photo">
			<a href="/media/{{ image.image }}" data-lightbox="lightbox-{{ gallery.slug }}" data-title="{{ image.description|striptags }}"><img src="/media/{{ image.thumbnail }}" width="115" alt="{{ image.description|striptags }}" height="95">
				<span class="photo-description">{{ image.description|safe }}</span>
			</a>
		</div>
	{% endfor %}
{% endblock %}
