{% extends "base.html" %}
{% load gallery_tags %}

{% block page_title %}
    Photo Gallery
{% endblock %}

{% block content-title %}
	Photo Gallery
{% endblock %}

{% block content %}
	{% for gallery, images in galleries %}
		<div class="gallery {% cycle 'clear' '' %}">
			<h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title|safe }}</a></h2>
			<div class="photos">
				{% for image in images %}
				<div class="photo">
					<a href="{{ image.scaled }}" data-lightbox="lightbox-{{ gallery.slug }}" data-title="{{ image.description|striptags }}">{% gallery_thumbnail image %}
						<span {% if thumber %}style="width:{{thumber.width}}px" {% endif %}class="photo-description">{{ image.description|safe }}</span>
					</a>
				</div>
				{% endfor %}
				<p style="clear:both;"><a href="{{ gallery.get_absolute_url }}">View More&hellip;</a></p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
