{% extends "base.html" %}

{% block page_title %}
    Photo Gallery
{% endblock %}

{% block content-title %}
	Photo Gallery
{% endblock %}

{% block content %}
	{% for gallery, images in galleries %}
		<div class="gallery {% cycle 'clear' '' %}">
			<h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title|safe }}</a></h2>
			<div class="photos">
				{% for image in images %}
				<div class="photo">
					<a href="/media/{{ image.image }}" data-lightbox="lightbox-{{ gallery.slug }}" data-title="{{ image.description|striptags }}"><img src="/media/{{ image.thumbnail }}" width="115" alt="{{ image.description|striptags }}" height="95">
						<span class="photo-description">{{ image.description|safe }}</span>
					</a>
				</div>
				{% endfor %}
				<p style="clear:both;"><a href="{{ gallery.get_absolute_url }}">View More&hellip;</a></p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
