{% load gallery_tags %}

{% if show_title %}
<h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title|safe }}</a></h2>
{% endif %}
{% if show_description %}
{{ gallery.description|safe }}
{% endif %}
<div class="photos page-images">
	{% for image in images %}
		<div class="photo">
			<a href="{{ image.scaled }}" data-lightbox="lightbox-{{ gallery.slug }}" data-title="{{ image.description|striptags }}">
				{% gallery_thumbnail image %}
				{% if image.description %}<span {% if thumber %}style="width:{{thumber.width}}px" {% endif %}class="photo-description">{{ image.description|safe }}</span>{% endif %}
			</a>
		</div>
	{% endfor %}
</div>