table {
    width:100%;
    -moz-border-radius:6px;
    border-radius:6px;
    -moz-outline-radius:6px;
    outline-radius:6px;
    outline: 1px solid rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

table thead,
table tfoot {
    font-variant:small-caps;
    background: rgba(0, 0, 0, 0.2);
    font-weight:bold;
}

table td,
table th {
    padding:2px 5px;
}
table td:nth-child(even),
table th:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
    padding:1px;
}

table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}