body {
	margin:0;
	background:#1d2419 url(images/top.png) repeat-x;
    min-width:832px; /* +15 will give the width before the side scrool displays */
    position:relative;
}
html {
    margin:0;
    padding:0;
}
.clear {
    clear:both;
}
img {
	border:0;
}
#construction {
	font-weight:bold;
	color:red;
}
#header {
	clear:both;
	display: table;
	height:186px;
	width:100%;
	background:url(images/header.png) repeat-x;
	position:relative;
}
#header-content {
	max-width:1100px;
	height:186px;
	margin:0 auto;
	position:relative;
}

#tag-line {
	color:#ffffff;
	text-shadow: #000000 1px 1px 1px;
	font-size:1.25em;
	margin:60px 0 0 20px;
	padding:5px 20px;
	float:left;
	height:50px;
	line-height:25px;
	background:url(images/bracket.png) no-repeat;
}
#tag-line span {
	display:block;
}
#header-bar {
   position:absolute;
   top:0;
   left:20em;
   height:100%;
   width:2em;
   background: url(images/bar.png) center center no-repeat;
}
#header-box {
    position:absolute;
    width:100%;
    left:0;
    top:65px;
}
#main-menu {
   position:absolute;
   bottom:0px;
   left:0;
}
.sepetator-menu {
   margin-right:32px;
}

#wrapper {
    max-width:850px;
    margin:0 auto;
    padding-right:290px;
}
#content {
    float:left;
    margin:1em;
    position: relative;
    margin-bottom:250px;
    z-index:0;
    width:100%;
    font-size:0.9em;
}
#content a {
    color:#ffffff;
}
#content a:hover {
    /*font-style:oblique;*/
    color:#d2e8ac;
}
#general {
    background:rgba(0, 0, 0, 0.2);
    -moz-border-radius:6px;
    border-radius:6px;
    -moz-outline-radius:6px;
    outline-radius:6px;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding:1em;
    color:#e8f1d7;
    position:relative;
}
/* forms */

form fieldset {
    margin:1em;
    position:relative;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

form fieldset legend {
    position:relative;
}

fieldset.errors {
    background:#300;
}

fieldset.errors dl,
fieldset.errors dl ul {
    margin:0;
    padding:0;
}

form.field-form .form-input label {
    display:block;
}
form.field-form .form-field input,
form.field-form .form-field select {
	margin-left:2em;
}
form.field-form .form-input label:after {
    content: ":"
}
form.field-form .form-field-help {
    margin-left:1em;
    margin-bottom:0.5em;
}
div.form-field {
    margin:0.5em;
}

.input-error input {
    border:2px solid #600;
}
/* pagination */

.pagination {
	text-align:center;
	padding:0.5em;
}

.pagination .next-link {
	padding-left:2em;
}
.pagination .previous-link {
    padding-right:2em;
}

.pagination .current-link {
	font-weight:bold;
}

.pagination .location {
	display:block;
	font-size:0.8em;
	padding-top:0.5em;
}
