{% load field_form %}
	{{ form.non_field_errors }}
	{% for legend, fields in fieldsets %}
	    <fieldset>
	        <legend>{{ legend }}</legend>
	        {% for field in fields %}
	            <div class="form-field">
                    {% if field.errors %}
                      <div class="form-field-error">{{ field.errors }}</div>
                    {% endif %}
	                {% if field.field.widget|is_checkbox %}
	                   <span class="form-checkbox">{{ field }} {{ field.label_tag }}</span>
	                {% else %}
	                   <span class="form-input{% if field.errors %} input-error{% endif %}">{{ field.label_tag }} {{ field }}</span>
	                {% endif %}
	                {% if field.help_text %}
	                    <div class="form-field-help">{{ field.help_text }}</div>
	                {% endif %}
	            </div>
	        {% endfor %}
	    </fieldset>
	{% endfor %}
	{% if form.hidden_fields %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
    {% endif %}