{% load show_pagination %}

{% if pages %}
    <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
                <a rel="prev" class="previous-link" href="{% _page_link instance pages.previous_page_number %}">&laquo; Previous</a>
            {% else %}
                <span class="previous-link">&laquo; Previous</span>
            {% endif %}
            <span class="range-links">
	            {% for i in range %}
	                {% if i == pages.number %}
	                    <span class="current-link">{{ i }}</span>
	                {% elif i == None %}
	                   ...
	                {% else %}
	                    <a href="{% _page_link instance i %}">{{ i }}</a>
	                {% endif %}
	            {% endfor %}
            </span>
            {% if pages.has_next %}
                <a rel="next" class="next-link" href="{% _page_link instance pages.next_page_number %}">Next &raquo;</a>
            {% else %}
                <span class="next-link">Next &raquo;</span>
            {% endif %}
        </span>
        <span class="location">
             Page {{ pages.number }} of {{ pages.paginator.num_pages }}
        </span>
    </div>
{% endif %}