{% extends "forum/base.html" %}

{% block content %}
    <div id="bread-crumbs">
        <a href="{{ forums.get_absolute_url }}">Index</a> 
        &bull; <a href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.name }}</a>
        &bull; <a href="{{ thread.get_absolute_url }}">{{ thread.subject }}</a>
    </div>
    <div class="content-box">
        <p>You need to login first.</p>
        <p><a href="{% url 'login' %}?next={{request.path}}">Login</a> or <a href="{% url 'accounts-register' %}">Register</a>.</p>
    </div>
{% endblock %}
