{% extends "forum/base.html" %}
{% load show_pagination %}
{% load forum_tags %}

{% block content %}
    <div id="bread-crumbs">
        <a href="{{ forums.get_absolute_url }}">Index</a> &raquo; 
        <a href="{{ thread.forum.category.get_absolute_url }}">{{ thread.forum.category.name }}</a> &raquo;
        <a href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.name }}</a> &raquo;
        {{ thread.subject }}
    </div>
    <div class="forum-pagination">
        {% simple_pagination posts thread %}
    </div>
    <div class="new-post">
            {% if not thread.closed %}
            <p><a rel="nofollow" href="{% url 'forum-reply-thread' thread_id=thread.pk forums_slug=forums.slug %}">Post new Reply</a></p>
            {% else %}
            <p>Thread Closed</p>
            {% endif %}
    </div>
    <table id="thread-table">
    {% for post in posts %}
    	{% with True as use_controls %} 
			{% include "forum/thread/post.html" %}
		{% endwith %}
    {% endfor %}
    </table>
    <div class="forum-pagination">
        {% simple_pagination posts thread %}
    </div>
    
    <div class="new-post">
            {% if not thread.closed %}
            <p><a rel="nofollow" href="{% url 'forum-reply-thread' thread_id=thread.pk forums_slug=forums.slug %}">Post new Reply</a></p>
            {% else %}
            <p>Thread Closed</p>
            {% endif %}
    </div>
    {% if request.user.is_authenticated %}
    	{% if forums.show_quick_post %}
	    <form class="content-box" action="{% url 'forum-reply-thread' forums_slug=forums.slug thread_id=thread.pk %}" method="post">
	        {% csrf_token %}
	        <fieldset>{{ form.as_p }}
	        <p><input type="submit" value="Submit" /></p></fieldset>
	    </form>
    	{% endif %}
    {% endif %}
    {% thread_actions thread %}
{% endblock %}