{% extends "forum/base.html" %}
{% load show_pagination %}
{% block content %}

    <div id="bread-crumbs">
        <a href="{{ forums.get_absolute_url }}">Index</a> 
        &bull; <a href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.name }}</a>
        &bull; {{ thread.subject }}
    </div>
    <div class="pagination">
        {% simple_pagination posts thread %}
    </div>
    <div class="new-post">
            {% if not thread.closed %}
            <p><a rel="nofollow" href="{% url 'forum-reply-thread' thread_id=thread.pk forums_slug=forums.slug %}">Post new Reply</a></p>
            {% else %}
            <p>Thread Closed</p>
            {% endif %}
    </div>
    <table id="thread-table">
    {% for post in posts %}
    	{% with True as use_controls %} 
			{% include "forum/thread/post.html" %}
		{% endwith %}
    {% endfor %}
    </table>
    <div class="pagination">
        {% simple_pagination posts thread %}
    </div>
    
    <div class="new-post">
            {% if not thread.closed %}
            <p><a rel="nofollow" href="{% url 'forum-reply-thread' thread_id=thread.pk forums_slug=forums.slug %}">Post new Reply</a></p>
            {% else %}
            <p>Thread Closed</p>
            {% endif %}
    </div>
    
{% endblock %}