{% extends "forum/base.html" %}

{% block content %}
    <div id="bread-crumbs">
        <a href="{{ forums.get_absolute_url }}">Index</a> 
        &bull; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a>
    </div>
    <form action="{% url 'forum-new-thread' forums_slug=forums.slug forum_id=forum.pk %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Message</legend>
            {{ thread_form.as_p }} {{ post_form.as_p }}
        </fieldset>
        <p><input type="submit" value="Submit" /></p>
    </form>
{% endblock %}