{% load forum_tags %}
{% load online_status_tags %}
{% load iptools_tags %}
{% load accounts %}

<tr class="post-title-row">
    <td class="post-date"><a rel="nofollow" href="{{ post.get_absolute_url }}">{{ post.posted }}</a></td>
    <td class="post-number">{% if posts.start_index %}<a id="p{{ post.pk }}">#{{ forloop.counter|add:posts.start_index|add:-1 }}</a>{% endif %}</td>
</tr>
<tr class="post-content-row">
    <td class="post-author">
        <ul>
        {% if post.author %}                
            <li class="username"><a href="{{ post.author.profile.get_absolute_url }}">{{ post.author.username }}</a>
            	{% ip_country_flag post.author.profile.get_ip %}
            </li>
            {% if post.author.profile.avatar %}
                <li><a href="{{ post.author.profile.get_absolute_url }}"><img alt="" src="{{ post.author.profile.avatar.url }}"></a></li>
            {% endif %}
            <li>{{ post.author.profile.title }}</li>
            <li>Registered: {{ post.author.date_joined|date }}</li>
            <li>Posts: {{ post.author.forum_profile.num_posts }}</li>
            <li>{% user_status post.author %}</li>
        {% else %}
            <li class="username">{{ post.poster_name }} {% ip_country_flag post.ip %}</li>
            <li>Guest</li>
        {% endif %}
        </ul>
    </td>
    <td class="thread-post">
        {% if post.is_removed %}
            <div class="post-content"><p>This post has been removed.</p></div>
        {% else %}
            <article class="post-content">{% format_post post user %}</article>
            {% should_show_signiture %}
                <div class="signature"> <hr /> {% show_signature post.author %}</div>
            {% end_should_show_signiture %}
            {% if post.edited_by %}
                <div class="edit-message"> <hr />
                    <p>Edited by {{ post.edited_by.username }} on {{ post.edited }}{% if post.edit_reason %}<br /> Reason: {{ post.edit_reason }} {% endif %}</p></div>
            {% endif %}
        {% endif %}
    </td>
</tr>
{% if use_controls %}
<tr>
    <td> </td>
    <td class="post-actions">
        {% post_actions post %}
        &bull; <a href="{% url 'forum-reply-thread' thread_id=thread.pk forums_slug=forums.slug %}?quote={{ post.pk }}">Quote</a>
    </td>
</tr>
{% endif %}
