{% extends "forum/base.html" %}

{% block content %}
    <div id="bread-crumbs">
        <a href="{{ forums.get_absolute_url }}">Index</a> 
        &bull; <a href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.name }}</a>
        &bull; <a href="{{ thread.get_absolute_url }}">{{ thread.subject }}</a>
    </div>
    <div class="content-box">
        <p>You have been unsubscribed from the thread "{{ thread.subject }}".</p>
        <p><a href="{{ thread.get_absolute_url }}">Return to thread</a>.</p>
    </div>
{% endblock %}
