{% extends "simple.html" %}
{% load blog_tags %}
{% load donate_tags %}
{% load static %}

{% block simple-content %}
<div id="wrapper">
   <div id="content">
   {% comment %}
   <div id="construction">This site is under construction, for the live site see <a href="http://codefisher.org/">Codefisher.org</a></div>
   {% endcomment %}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
   {% block general %}
     <div id="general">
        {% block content_adds %}
            {% if not debug %}
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Codefisher Banner -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498950558756902"
                 data-ad-slot="3485897034"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}
        {% endblock %}
        {% if page_content %}
            {{ page_content|safe }}
        {% else %}
	        {% block content %}
			    <h2>{{ page_header }}</h2>
			    <p>
			       {{ page_message }}
			    </p>
	        {% endblock %}
	    {% endif %}
	    <div class="clear"></div>
	   </div>
    {% endblock %}
    {% spaceless %}
 </div>
 <div id="sidebar">
  <div id="search-sidebar">
     <form action="/search/" method="get" id="search">
      <div class="search-inner">
       <label for="search-box">Search:</label>
       <div id="search-controls"><input type="text" size="14" id="search-box" name="q" /><input type="submit" id="search-go" value="" /></div>
      </div>
     </form>
  </div>
  {% block sidebar %}
  {% comment %}
   <div class="side-bar-item">
    <h3>Latest News</h3>
    <div class="side-bar-content">
      {# show_blog_latest 4 22 blug='news' #}
    </div>
   </div>
   {% endcomment %}
   <div class="side-bar-item">
    <h3>Top Content</h3>
    <div class="side-bar-content">
        <div class="fragment">
        <h4><img src="{% get_static_prefix %}images/icons/toolbar-buttons.png" width="32" height="32" alt="" /><a href="#">Toolbar Buttons</a></h4>
        <p>
          <a href="/toolbar_button/">Toolbar Buttons</a> is a button set for Firefox, Thunerbird.  It is the largest set of buttons available for these application, boasting over 100 buttons for Firefox alone
        </p>
        </div>

        <div class="fragment">
        <h4><img src="{% get_static_prefix %}images/icons/pastel-svg.png" width="32" height="32" alt="" /><a href="#">Pastel SVG Icons</a></h4>
        <p>
           Pastel SVG is an icon set based on the popular silk icons found as <a href="http://famfamfam.com/">FamFamFam.com</a>. It uses the same style, so some of the icons are almost identical.  The goal of the project is to recreate the entire set in a full range of sizes while also adding many icons that we think the original set is missing.
        </p>
        </div>
    </div>
   </div>
   <div class="side-bar-item">
       <h3>Donations</h3>
    <div class="side-bar-content">
        <div class="fragment">
            <h4>Top Donations</h4>
            {% show_best_donations 5 %}
        </div>
        <div class="fragment">
            <h4>Recient Donations</h4>
            {% show_latest_donations 5 %}

        </div>
    </div>
    </div>
  {% endblock %}
 </div>
 <div class="clear"></div>
</div>
{% endspaceless %}
{% endblock %}
