{% extends "simple.html" %}
{% load blog_tags %}

{% block simple-content %}
<div id="wrapper">
 <div id="content">
   <!--
   <div id="construction">This site is under constructions, for the live site see <a href="http://codefisher.org/">Codefisher.org</a></div>
    -->
    <div id="general">
        {% block content %}
		    <h2>{{ page_header }}</h2>
		    <p>
		       {{ page_message }}
		    </p>
        {% endblock %}
    </div>
 </div>
 <div id="sidebar">
  <div id="search-sidebar">
     <form action="/search/" method="get" id="search">
      <div class="search-inner">
       <label for="search-box">Search:</label>
       <div id="search-controls"><input type="search" size="14" id="search-box" name="q"><input type="submit" id="search-go" value=""></div>
      </div>
     </form>
  </div>
  {% block sidebar %}
   <div class="side-bar-item">
    <h3>Latest News</h3>
    <div class="side-bar-content">
      {% show_blog_latest 4 22 %}
    </div>
   </div>
  {% endblock %}
 </div>
 <div class="clear"></div>
</div>
{% endblock %}