{% load display_menu %}
{% load blog_tags %}
{% load pages_tags %}
{% load core_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
 <title>Codefisher.org :: {% block page_title %}{{ title|default:"Firefox Add-ons, Code Resources and More" }}{% endblock %}</title>
 <link type="text/css" rel="stylesheet" href="{{ media_url}}themes/default/style.css">
 <script type="text/javascript" src="{{ media_url}}js/menu.action.js"></script>
 <link rel="alternate" type="application/atom+xml" href="{% url blog-feed %}">
 {% block head_tags %}{% endblock %}
</head>
<body>
{% block page_top %}{% endblock %}
<div id="top-menu">
 <div id="logo">
  <a href="/"><img width="175" height="90" src="{{ media_url}}themes/default/images/logo-text.png" alt="Codefisher"></a>
 </div>
 {% display_menu util-menu %}
</div>

{% block root-content %}
{% endblock %}

<div id="footer-top"></div>
 <div id="footer">
 <div id="footer-content">
  <div class="footer-section" id="footer-left">
   <div class="footer-box">
   {% block first_footer_box %}
   <h3>Latest Posts</h3>
    <ul>
     {% list_blog_latest %}
    </ul>
    {% endblock %}
   </div>
  </div>
  <div class="footer-section" id="footer-center-left">
   <div class="footer-box">
   {% block second_footer_box %}
   <h3>Forum Topics</h3>
    <ul>
     <li><a href="#">Another new button ...</a></li>
     <li><a href="#">close tabs and exit button</a></li>
     <li><a href="#">Suggestion for button to add</a></li>
     <li><a href="#">Add activity &amp; Add ...</a></li>
     <li><a href="#">Request - how to create ...</a></li>
    </ul>
    {% endblock %}
   </div>
  </div>
  <div class="footer-section" id="footer-center-right">
   <div class="footer-box">
   {% block third_footer_box %}
       {% placeholder "footer-about" identifier %}
    {% endblock %}
   </div>
  </div>
  <div class="footer-section" id="footer-right">
   <div class="footer-box">
   {% block copyright_box %}
    <div id="copyright" class="footer-detail">Design and content &copy; of Michael Buckley.</div>
    <div class="footer-detail">
      <a href="#">Contact</a> &bull;
      <a href="#">Site Map</a>
   </div>
   {% endblock %}
   </div>
  </div>
  </div>
 </div>
</body>