{% spaceless %}
{% load display_menu %}
{% load blog_tags %}
{% load pages_tags %}
{% load static %}
{% load forum_tags %}
{% load cache %}

{% block doctype %}<!DOCTYPE html>{% endblock %}
<html>
<head>
 <meta charset="utf-8"/>
 <title>{% block page_title %}{{ title|default:"Firefox Add-ons, Code Resources and More" }}{% endblock %}{% block page_title_prefix %} :: Codefisher.org{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
 {% if debug %}
 <link type="text/css" rel="stylesheet" media="screen and (min-width: 600px)" href="{% get_static_prefix %}themes/default/style.css" />
 <link type="text/css" rel="stylesheet" media="handheld, screen and (max-width: 599px)" href="{% get_static_prefix %}themes/default/handheld.css" />
 <link rel="stylesheet" type="text/css" media="print" href="{% get_static_prefix %}themes/default/print.css" />
 <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/menu.action.js"></script>
 {% else %}
 <link type="text/css" rel="stylesheet" media="screen and (min-width: 600px)" href="{% get_static_prefix %}themes/default/style.min.css" />
 <link type="text/css" rel="stylesheet" media="handheld, screen and (max-width: 599px)" href="{% get_static_prefix %}themes/default/handheld.min.css" />
 <link rel="stylesheet" type="text/css" media="print" href="{% get_static_prefix %}themes/default/print.min.css"/>
 <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" src="{% get_static_prefix %}js/menu.action.min.js"></script>
 {% endif %}
 <link rel="alternate" type="application/atom+xml" href="{% url 'blog-feed' blog_slug='news'   %}" />
 {% block head_tags %}{{ extra_head_content|safe }}{% endblock %}
</head>
<body>
{% block page_top %}{% endblock %}
<nav id="top-menu">
  <a id="logo" href="/"><img width="175" height="90" src="{% get_static_prefix %}themes/default/images/logo-text.png" alt="Codefisher" /></a>
 {% cache 600 util_menu %}
    {% display_menu 'util-menu' %}
 {% endcache %}
</nav>
{% endspaceless %}
{% block root-content %}
{% endblock %}
{% spaceless %}
 <footer id="footer">
 {% cache 600 footer %}
 <div id="footer-content">
  <div class="footer-section" id="footer-blog">
   {% block first_footer_box %}
   <h3>Latest Posts</h3>
    <ul>
     {% list_blog_latest blog='news' %}
    {% endblock %}
    </ul>
  </div>
  <div class="footer-section" id="footer-forum">
   {% block second_footer_box %}
      <h3>Latest Forum Posts</h3>
	   <ul>
	       {% show_latest_posts 'codefisher' %}
	   </ul>
    {% endblock %}
  </div>
  <div class="footer-section" id="footer-about">
   {% block third_footer_box %}
       {% placeholder "footer-about" identifier %}
    {% endblock %}
  </div>
  <div class="footer-section" id="footer-copyright">
   {% block copyright_box %}
    <div id="copyright" class="footer-detail">Design and content <br /> &#169; <strong><a href="/about/">Michael Buckley</a></strong> <br /> 2006 - {% now "Y" %}</div>
    <div class="footer-detail">
      <a href="/email/">Contact</a> &#8226;
      <a href="/about/">About</a>
      <div class="twitter-follow"><img src="/static/images/pastel-svg/16/twitter.png" alt="" /><a width="16" height="16" alt="" href="https://twitter.com/codefisher/">Follow me on Twitter</a></div>
   </div>
   {% endblock %}
  </div>
  </div>
  {% endcache %}
 </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-57011791-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
{% endspaceless %}