{% extends "root.html" %}
{% load display_menu %}
{% load cache %}

{% block root-content %}
{% spaceless %}

{% block header %}
    <header id="header">
     <div id="header-content">
      <div id="tag-line">
       <span>The Code Monk at work...</span>
       <span>Innovative, Fun, Geeky</span>
      </div>
      <nav class="fly-out-menu css-fly-out-menu" id="main-menu">
       {% cache 500 main_menu request.user.username %}
            {% display_menu 'site-menu' %}
       {% endcache %}
       <script type="text/javascript">new FlyOutMenu('main-menu');</script>
     </nav>
     </div>
    </header>
{% endblock %}

{% endspaceless %}

{% block simple-content %}
    <div id="wrapper" class="no-sidebar">
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
{% endblock %}


{% endblock %}
