#footer {
	position:static;
}

.footer-section,
#sidebar,
#header,
#util-menu,
#djangopress-toolbar {
	display:none;
}

#footer-copyright {
	display:block;
}

#wrapper-content {
	margin:0 !important;
	width:100%;
}

#wrapper {
	max-width:100%;
	padding:0;
}
