
#footer:before {
	content:"";
    padding-top:90px;
    background:url(images/footer.png) top center no-repeat;
    position: absolute;
    bottom:150px;
    left:0;
    width:100%;
    z-index:-1;
}
#footer {
    background:#71962f;
    border-top:1px solid #98bc55;
    min-height:150px;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    font-size:0.75em;
}

#footer-content {
	margin:0 auto;
	max-width:1100px;
	height:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}

.footer-section {
	width:25%;
	float:left;
	margin-left:-1px;
	height:150px;
	max-height:150px;
	padding:1em 1em 0 1em;
	box-sizing: border-box;
	position: relative;
}

.footer-section:before,
.footer-section:after {
	width: 1px;
	height:150px;
 	content: ""; position: absolute;
 	top:0;
 	right:-1px;
	background:linear-gradient(rgba(255,255,255,0) 5%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 95%);
}
.footer-section:after {
	right:-2px;
	background:linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 95%);
}

.footer-section:last-child:after,
.footer-section:last-child:before {
	display:none;
}

.footer-section li {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
}

.footer-section p {
	text-overflow:ellipsis;
	overflow:hidden;
}
