#construction {
	font-weight:bold;
	color:red;
}
#header {
	clear:both;
	display: table;
	height:186px;
	width:100%;
	background:url(images/header.png) repeat-x;
	position:relative;
}
#header-content {
	max-width:1100px;
	height:186px;
	margin:0 auto;
	position:relative;
}

#tag-line {
	color:#ffffff;
	text-shadow: #000000 1px 1px 1px;
	font-size:1.25em;
	margin:60px 0 0 20px;
	padding:5px 20px;
	float:left;
	height:50px;
	line-height:25px;
	position: relative;
	/*background:url(images/bracket.png) no-repeat;*/
}
body {
    min-width:832px; /* +15 will give the width before the side scrool displays */
}

#tag-line:before,
#tag-line:after { 
	content:"";
   position:absolute;
   left:0px;
   top:-3px;
   width:9px;
   height:60px;
   border: 1px solid rgba(0,0,0,0.3);
   border-right:0;
}
#tag-line:after {
   left:-1px;
   top:-4px;
   padding:1px 0 1px 1px;
   border: 1px solid rgba(255,255,255,0.3);
   border-right:0;
}

#tag-line span {
	display:block;
}


#header-content:before,
#header-content:after {
	content:"";
   position:absolute;
   top:0;
   left:21em;
   height:186px;
   width:1px;
}

#header-content:before {
   background: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 100%);
}
#header-content:after {
	margin-left:1px;
	width:1.5px;
	background: linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 95%);
}

#header-box {
    position:absolute;
    width:100%;
    left:0;
    top:65px;
}
#main-menu {
   position:absolute;
   bottom:0px;
   left:0;
}
.sepetator-menu {
   margin-right:32px;
}

#wrapper {
    max-width:850px;
    margin:0 auto;
    padding-right:260px;
    height:100%;
    padding-bottom:150px;
}
#wrapper:after {
	content:"";
	clear: both;
	display: block;
	height:1em;	
}
#wrapper.no-sidebar {
    padding:0;
}

#content h1 {
	text-shadow: #000000 1px 1px 2px;
}

#content a {
    color:#ffffff;
}
#content a:visited {
    color:#d2e8ac;
}
#content a:hover {
    /*font-style:oblique;*/
    color:#d2e8ac;
}
#content,
.content-box {
    background:rgba(0, 0, 0, 0.2);
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding:1em;
    margin:1em 0;
    position:relative;
    clear:both;
}

#content {
    float:left;
    position: relative;
    z-index:1;
    width:96%;
    font-size:0.9em;
    color:#e8f1d7;
    margin:1em 2%;
    box-sizing: border-box;
}

#wrapper-content {
    float:none;
    width:auto;
    margin:0 1em 166px;
    height:100%;
}
/* forms */

form fieldset {
    position:relative;
    border-radius:6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

form fieldset legend {
    position:relative;
}

form fieldset textarea {
    width:100%;
    box-sizing: border-box;
}

fieldset.errors {
    background:#300;
}

fieldset.errors dl,
fieldset.errors dl ul {
    margin:0;
    padding:0;
}

form .form-input label {
    display:block;
}
form .form-field input,
form .form-field select {
	margin-left:2em;
}

form .form-field .form-checkbox input {
	margin-left:0;
}

form .form-field textarea {
    width:100%;
}

form .form-field-help {
    margin-left:1em;
    margin-bottom:0.5em;
}
div.form-field {
    margin:0.5em;
}

input[disabled] {
    opacity:0.75;
}

.input-error input {
    border:2px solid #600;
}
/* pagination */

.pagination {
	text-align:center;
	padding:0.5em;
}

.pagination .next-link {
	padding-left:2em;
}
.pagination .previous-link {
    padding-right:2em;
}

.pagination .current-link {
	font-weight:bold;
}

.pagination .location {
	display:block;
	font-size:0.8em;
	padding-top:0.5em;
}

.left {
    float:left;
    text-align:left;
    margin:0.5em;
}
.right {
    float:right;
    text-align:right;
    margin:0.5em;
}
.center {
	margin:0 auto;
	text-align:center;
}
code {
    white-space:pre;
}