#header {
	clear:both;
	display: table;
	height:182px;
	width:100%;
	background:#71962f url(images/page-header.png) center repeat-x;
	position:relative;
    box-shadow:
       0 0 0 1px rgba(0,0,0,0.8),
       0 0 0 2px rgba(255,255,255,0.2);
}

#header.mini {
	height:100px;
}

#header-content,
#header-mini-content {
	max-width:1100px;
	height:182px;
	margin:0 auto;
	position:relative;
}

#header-mini-content {
	color:#fff;
	text-shadow: #000000 1px 1px 1px;
	height:50px;
	padding:25px 50px;
}

#header-mini-content h1 {
	margin:0;
}

#header-mini-content h1 img {
	vertical-align: middle;
	margin:0 10px 0 0;
}

#quick-login,
#top-tabs .button-link {
	float:right;
    text-shadow: #000000 1px 1px 1px;
    text-align:center; 
    color:#fff;
    margin:-2px 1em 0 1em;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0;
}
#quick-login-link,
#top-tabs .button-link {
	line-height:30px;
	display:inline-block;
    width:155px;
}
#quick-login form {
	font-size:0.85em;
	text-align:left;
	padding:0.5em;
}

#quick-login:hover {
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#tag-line {
	color:#ffffff;
	text-shadow: #000000 1px 1px 1px;
	font-size:1.25em;
	margin:60px 0 0 20px;
	padding:5px 20px;
	float:left;
	height:50px;
	line-height:25px;
	position: relative;
	/*background:url(images/bracket.png) no-repeat;*/
}
body {
    min-width:850px; /* +15 will give the width before the side scroll displays */
}

#tag-line:before,
#tag-line:after { 
	content:"";
   position:absolute;
   left:0px;
   top:-3px;
   width:9px;
   height:60px;
   border: 1px solid rgba(0,0,0,0.3);
   border-right:0;
}
#tag-line:after {
   left:-1px;
   top:-4px;
   padding:1px 0 1px 1px;
   border: 1px solid rgba(255,255,255,0.3);
   border-right:0;
}

#tag-line span {
	display:block;
}


#header-content:before,
#header-content:after {
	content:"";
   position:absolute;
   top:0;
   left:21em;
   height:186px;
   width:1px;
}

#header-content:before {
   background: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(255,255,255,0) 100%);
}
#header-content:after {
	margin-left:1px;
	width:1.5px;
	background: linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 95%);
}


.sepetator-menu {
   margin-right:32px !important;
}

#wrapper {
    max-width:850px;
    margin:0 auto;
    padding-right:260px;
    height:100%;
    padding-bottom:150px;
}
#wrapper:after {
	content:"";
	clear: both;
	display: block;
	height:1em;	
}
#wrapper.no-sidebar {
    padding-right:0;
    max-width:1100px;
}

#content h1 {
	text-shadow: #000000 1px 1px 2px;
}

#content h1 img {
	vertical-align:bottom;
}

#content a {
    color:#ffffff;
}

#content .gist a, #content .gist a:visited, #content .gist a:hover {
	color:#666666;
}

#content a:visited {
    color:#d2e8ac;
}
#content a:hover {
    /*font-style:oblique;*/
    color:#d2e8ac;
}
#content,
.content-box {
    background:rgba(0, 0, 0, 0.2);
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding:1em;
    margin:1em 0;
    position:relative;
    clear:both;
}

a.content-box {
	text-decoration:none;
}

#content {
    float:left;
    position: relative;
    width:96%;
    font-size:0.9em;
    color:#e8f1d7;
    margin:1em 2%;
    box-sizing: border-box;
}

