.edit-links a {
	color:#fff;
	padding:1em;
	margin:1em;
	display:block;
	background:#000;
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.edit-links {
    text-align:center;
    padding:1em;
    font-size:1.25em;
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    right:-0.5em;
    bottom:-0.5em;
    min-height:5em;
    padding:1em;
    background:rgba(0, 0, 0, 0.9);
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.edit-block {
    position:relative;
}

#page-edit-pane {
    border:1px solid #000;
    background:rgba(0,0,0, 0.8);
    border-radius:6px;
    color:#fff;

    z-index:10000;
    position:absolute;
    margin:100px;
    top:0;
    left:0;
    right:0;
}

#page-edit-pane fieldset {
    border:1px solid #fff;
    border-radius:6px;
}