#djangopress-toolbar {
    width:100%;
    height:30px;
    background:#4c7117;
}

#djangopress-toolbar:after {
    display:block;
    height:5px;
    width:100%;
    content:"";
    background:url(images/top.png) repeat-x;
}

#djangopress-toolbar a {
    line-height:30px;
    padding:2px 5px 2px 26px;
    margin:5px;
    color:#fff;
    text-decoration:none;
    text-shadow: #000000 1px 1px 1px;

    background: rgba(255,255,255, 0.25) no-repeat 6px center;
    border-radius:6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#djangopress-toolbar a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#djangopress-toolbar a.edit {
    background-image: url(../../images/pastel-svg/16/pencil.png);
}

#djangopress-toolbar a.page {
    background-image: url(../../images/pastel-svg/16/layout.png);
}