body {
	background:#1d2419;
}

body:before {
	width:100%;
	background:#4c7117;
	height:3px;
	content: ""; position: absolute;
	z-index:-1;
	border: 1px rgba(0,0,0,0.8) solid;
	border-width:0 0 1px 0;
	box-shadow:0px 0px 1px rgba(255, 255, 255, 0.5);
}

body, html {
    margin:0;
    padding:0;
    min-height:100%;
}

html {
    position:relative;
}

#main-menu {
   position:absolute;
   bottom:-3px;
   left:0;
}

#quick-login a,
#top-tabs .button-link {
    font-size:0.85em;
    color:#fff;
    text-decoration:none;
    transition: all 0.2s linear;
}
#quick-login a:hover {
    text-shadow: none;
}


#quick-login .creds {
	float:left;
}
#quick-login .controls {
	float:right;
}
#quick-login .controls input,
#quick-login .controls a {
    text-shadow: #000000 1px 1px 1px;
    text-align:center; 
    color:#fff;
    background:rgba(0, 0, 0, 0.0);
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display:inline-block;
    line-height:1em;
    margin:1px;
    padding:1px;
    width:73px;
    font-size:1em;
}

#quick-login .creds label,
#quick-login .creds input {
	display:inline-block;
	font-weight:normal;
	width:100px;
}

#quick-login .options {
	clear:both;
	font-size:0.85em;
}
#quick-login .forgot {
	float:right;
	padding:0.5em;
}

.clear {
    clear:both;
    padding:5px;
}
img {
	border:0;
}

a {
    color:#fff;
}

hr {
    border:0;
    border-top: 1px solid rgba(0,0,0, 0.6);
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    width:60%;
    margin:0.5em 0;
}

.messages .debug,
.messages .info {
	list-style-image:url(/static/images/pastel-svg/16/information.png);
}

.messages .success {
	list-style-image:url(/static/images/pastel-svg/16/accept.png);
}

.messages .warning {
	list-style-image:url(/static/images/pastel-svg/16/error.png);
}

.messages .error {
	list-style-image:url(/static/images/pastel-svg/16/exclamation.png);
}

.messages {
	padding-left:2em;
}

/* forms */

fieldset {
    position:relative;
    border-radius:6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

fieldset legend {
    position:relative;
}

fieldset textarea {
    width:100%;
    box-sizing: border-box;
}

fieldset.errors {
    background:#300;
}

fieldset.errors dl,
fieldset.errors dl ul {
    margin:0;
    padding:0;
}

form .form-input label {
    display:block;
}
form .form-field input,
form .form-field select {
	margin-left:2em;
}

form .form-field .form-checkbox input {
	margin-left:0;
}

form .form-field textarea {
    width:100%;
}

form .form-field-help {
    margin-left:1em;
    margin-bottom:0.5em;
}
div.form-field {
    margin:0.5em;
}

input[disabled] {
    opacity:0.75;
}

.input-error input {
    border:2px solid #600;
}
/* pagination */

.pagination {
	text-align:center;
	padding:0.5em;
}

.pagination .next-link {
	padding-left:2em;
}
.pagination .previous-link {
    padding-right:2em;
}

.pagination .current-link {
	font-weight:bold;
}

.pagination .location {
	display:block;
	font-size:0.8em;
	padding-top:0.5em;
}

.pagination .range-links a,
.pagination .range-links .current-link {
	display:inline-block;
	padding:2px;
	margin:2px;
	min-width:1.25em;
    border-radius:3px;
    background:rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.pagination .range-links a:hover,
.pagination .range-links .current-link:hover {
	background: rgba(0, 0, 0, 0.5);
}

.left {
    float:left;
    text-align:left;
    margin:0.5em;
}
.right {
    float:right;
    text-align:right;
    margin:0.5em;
}
.center {
	margin:0 auto;
	text-align:center;
}
code {
    white-space:pre;
}

/* social media buttons */

#social-media-sidebar {
	position:fixed;
	left:0;
	bottom:10%;
	z-index:1;
	margin:0;
	padding:0;
}

@media screen and ( min-height: 450px ){
	#social-media-sidebar {
		top:300px;
	}
}

#social-media-sidebar li {
	list-style-image:none;
}

#social-media-sidebar a {
	display:block;
	width:32px;
	height:32px;
	position: relative;
	transition: padding 0.2s linear, border-radius 0.2s linear, background-position 0.2s linear;
	background-position: right top;
	background-repeat: no-repeat;
}

#social-media-sidebar.social-media-small a {
	display:block;
	width:20px;
	height:20px;
	position: relative;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
	margin:1px 1px 1px 0;
}

#social-media-sidebar a:hover {
	padding-right:15px;
	border-radius:0 10px 10px 0;
	background-position: right 4px top;
}

#social-media-sidebar .media-label {
	display:none;
}

#social-media-sidebar .media-twitter {
	background-color:#2aa9e0;
	background-image:url(/static/social_media_buttons/images/32/twitter.png);
}

#social-media-sidebar.social-media-small .media-twitter {
	background-image:url(/static/social_media_buttons/images/20/twitter.png);
}

#social-media-sidebar .media-googleplus {
	background-color:#DC4A38;
	background-image:url(/static/social_media_buttons/images/32/google-plus.png);
}

#social-media-sidebar.social-media-small .media-googleplus {
	background-image: url(/static/social_media_buttons/images/20/google-plus.png);
}

#social-media-sidebar .media-facebook {
	background-color:#3C5A99;
	background-image: url(/static/social_media_buttons/images/32/facebook.png);
}

#social-media-sidebar.social-media-small .media-facebook {
	background-image: url(/static/social_media_buttons/images/20/facebook.png);
}

#social-media-sidebar .media-linkedin {
	background-color:#0077B5;
	background-image: url(/static/social_media_buttons/images/32/linkedin.png);
}

#social-media-sidebar.social-media-small .media-linkedin {
	background-image: url(/static/social_media_buttons/images/20/linkedin.png);
}

#social-media-sidebar .media-reddit {
	background-color:#FF4500;
	background-image: url(/static/social_media_buttons/images/32/reddit.png);
}

#social-media-sidebar.social-media-small .media-reddit {
	background-image: url(/static/social_media_buttons/images/20/reddit.png);
}

#social-media-sidebar .media-pinterest {
	background:#CB2027;
	background-image: url(/static/social_media_buttons/images/32/reddit.png);
}

#social-media-sidebar.social-media-small .media-pinterest {
	background-image: url(/static/social_media_buttons/images/20/reddit.png);
}
