#tag-line {
	clear:both;
	display: table;
	height:105px;
	width:100%;
	background:url(images/header-tiny.png) repeat-x;
	position:relative;
	line-height:1.5em;
	color:#ffffff;
	font-size:1.5em;
	text-shadow: #000000 1px 1px 1px;
	box-sizing: border-box;
	padding:0.5em;
}

#tag-line span {
	display:block;
}

#util-menu {
	margin:0;
	padding:0;
}
#util-menu li {
	float:left;
	display:block;
	margin:0;
	padding:0.5em;
}

#content {
	color:#e8f1d7;
	font-size:1em;
	max-width:100%;
    padding:1em 1.5%;
    margin:1em 1.5%;
    width:94%;
    max-width:94%;
    background:rgba(0, 0, 0, 0.2);
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#sidebar, #footer {
	background:#71962f;
    border-radius:6px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding:1em 1.5%;
    margin:1em 1.5%;
    width:94%;
    max-width:94%;
}

#sidebar h3, #footer h3 {
	border-bottom:1px solid #98bc55;
	color:#e8f1d7;
	text-shadow: #000000 1px 1px 1px;
}

#footer-copyright {
	text-align:center;
}

.fly-out-menu .horizontal li ul,
.fly-out-menu .horizontal li ul li {
	display:none;
}
