{% extends 'base.html' %}
{% load static %}
{% load pages_tags %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}themes/default/download.css">
{% endblock %}



{% block content %}
	<div class="release_notes">
	    <h2>{{ download.title }} {{ download.version }}</h2>
	    <small>{{ download.description }}</small>

	    {% placeholder "toolbar-buttons-release" identifier %}

        {% if download.release_notes %}
		    <h3>Version {{ download.version }}</h3>
		    {{ download.release_notes|safe }}
	    {% endif %}

	    {% if download.previous_release and download.previous_release.release_notes %}
	       <p>
	        <a href="{{ download.previous_release.get_release_url }}">Previous Version &raquo; </a>
	       </p>
	    {% endif %}
	</div>
{% endblock %}