{% extends 'base.html' %}
{% load static %}
{% load pages_tags %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/download.css">
{% endblock %}

{% block content_adds %}
{% endblock %}

{% block sidebar %}
   <div class="side-bar-item">
   <h3>Translation, Please Help!</h3>
    <div class="side-bar-content">
        Toolbar Buttons depends on volunteers for translations.  Would you like to help finish many of the incomplete translations?   If you can, please head over to <a href="http://www.babelzilla.org/forum/index.php?showtopic=1868">BabelZilla</a> and sign up to join Toolbar Buttons translation team! 
    </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block content %}
	<div class="release_notes">
	    <div class="right"><a href="https://twitter.com/codefisher/">
	        <img src="{% get_static_prefix %}images/pastel-svg/16/twitter.png" alt="">
	        Follow me on Twitter</a></div>
	    <h2>{{ download.title }} {{ download.version }}</h2>
	    <small>{{ download.description }}</small>

	    {% placeholder "toolbar-buttons-release" identifier %}

        {% if download.release_notes %}
		    <h3>Version {{ download.version }}</h3>
		    {{ download.release_notes|safe }}
	    {% endif %}
	    

<h3>Translation, Please Help!</h3>

<p>
    This has been the first update in a long time, and I have had problems getting on contact with the members of the translation team, so many of the translations in this release are incomplete.  Could you help out?  Can you be that one in 10,000 person that needs to respond to have all the translations finished?  If you can, please head over to <a href="http://www.babelzilla.org/forum/index.php?showtopic=1868">BabelZilla</a> and sign up to extensions translation team! 
</p>

<h3><a href="/toolbar_button/toolbar_button_maker/">Custom Button Maker</a></h3>
In addition to the above, there has been a new release of the <a href="/toolbar_button/toolbar_button_maker/">Custom Button Maker</a>.  It has all buttons and features as the offical release along with the following extra features.
<ul>
    <li>As suggested by the name, it will only include the buttons you want, and for the applications that you want to use it in.</li>
    <li>The option of generating toolbars to hold the buttons that you want.</li>
    <li>The option of using larger icon sizes.</li>
    <li>An optional experimental feature that creates a menu to access all the buttons.</li>
    <li>A few extra buttons that are were not thought to be popular enough for the main release. </li>
</ul>

<p>
There is a new simplified <a href="/toolbar_button/request/">bug tracker</a> for asking for, and then voteing on requests for new buttons.  So if you would like something else to be added to the extension please <a href="/toolbar_button/request/">make a request</a>.  If it then proves popular once released onto the <a href="/toolbar_button/toolbar_button_maker/">Custom Button Maker</a>, it will be added to the next release offical.  If not, it will always remain avaliable there.
</p>

<h3>Aims for the next release</h3>

<p>
    The next release is not intened to make any major changes, what we have in mind is.
</p>
<ul>
    <li>Working towards having the translations updated.</li>
    <li>Re-touching some of larger 24x24 icons.</li>
    <li>Fixing any bugs found.</li>
</ul>


	    {% if download.previous_release and download.previous_release.release_notes %}
	       <p>
	        <a href="{{ download.previous_release.get_release_url }}">Previous Version &raquo; </a>
	       </p>
	    {% endif %}
	</div>
{% endblock %}
