{% extends 'base.html' %}
{% load static %}
{% load pages_tags %}

{% block head_tags %}
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/download.css">
{% endblock %}

{% block content_adds %}
{% endblock %}

{% block sidebar %}
   <div class="side-bar-item">
   <h3>Translation, Please Help!</h3>
    <div class="side-bar-content">
        Toolbar Buttons depends on volunteers for translations.  Could you be one of them that will help finish many of the incomplete translations?   If you can, please head over to <a href="http://www.babelzilla.org/forum/index.php?showtopic=1868">BabelZilla</a> and sign up to extensions translation team! 
    </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block content %}
	<div class="release_notes">
	    <div class="right"><a href="https://twitter.com/codefisher/">
	        <img src="{% get_static_prefix %}images/pastel-svg/16/twitter.png" alt="">
	        Follow me on Twitter</a></div>
	    <h2>{{ download.title }} {{ download.version }}</h2>
	    <small>{{ download.description }}</small>

	    {% placeholder "toolbar-buttons-release" identifier %}

        {% if download.release_notes %}
		    <h3>Version {{ download.version }}</h3>
		    {{ download.release_notes|safe }}
	    {% endif %}

	    {% if download.previous_release and download.previous_release.release_notes %}
	       <p>
	        <a href="{{ download.previous_release.get_release_url }}">Previous Version &raquo; </a>
	       </p>
	    {% endif %}
	</div>
{% endblock %}