{% extends "base.html" %}
{% load pages_tags %}

{% block page_title %}
    {% if page.meta_page_title %}
        {{ page.meta_page_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block head_tags %}
    {{ block.super }}
    {% if page.meta_keywords %}
        <meta name="keywords" content="{{ page.meta_keywords }}" >
    {% endif %}
    {% if page.meta_description %}
        <meta name="description" content="{{ page.meta_description }}" >
    {% endif %}
    {% if show_toolbar %}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}themes/default/style.page-edit.css">
        <script type="text/javascript" src="{% url 'page-edit-js' %}"></script>
    {% endif %}
    {% if page.head_tags %} {{ page.head_tags|safe }} {% endif %}
{% endblock %}

{% block page_top %}
    {% if show_toolbar %}
        <div id="djangopress-toolbar">
            {% if enable_page_edit %}
                <a class="edit" href="./">Close Edit</a>
            {% else %}
                <a class="edit" href="?edit_cms_page">Edit Page Contents</a>
            {% endif %}
            <a class="page" href="{% url 'page-edit-details' page=page.id %}" onclick="return editPage(event, {{ page.id }});">Edit page details</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% placeholder "content" primary %}
{% endblock %}

{% block sidebar %}
    {% placeholder "sidebar" with_default %}
        {{ block.super }}
    {% endplaceholder %}
{% endblock %}

{% block copyright_box %}
    {{ block.super }}
    <div>Edited {{ page.edited|date:"DATE_FORMAT" }} by {{ page.edited_by.username }}</div>
{% endblock %}