{% load field_form %}
<form action="" method="POST" class="field-form">
    {% for form in forms %}
        <fieldset>
            <legend>{{ form.Meta.model.name }}</legend>
        {% form form %}
        </fieldset>
    {% endfor %}
    {% if primary_form %}
        {% field_form primary_form '' '' %}
    {% endif %}
    <fieldset>
         <legend>Select new item to add</legend>
        {% form new_block %}
    </fieldset>
    <div>
        {% csrf_token %}
        <input type="submit" name="{{ submit_name }}" value="Submit">
    </div>
</form>