{% extends "pages/base.html" %}
{% load pages_tags %}

{% block general %}
   <div id="front-page">
   <div class="front-page">
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/icons/toolbar-buttons.png" width="32" height="32" alt="" /><a href="/toolbar_button/">Toolbar Buttons</a></h2>
        <p>
          <a href="/toolbar_button/">Toolbar Buttons</a> is the single biggest button pack for Firefox or Thunderbird there is.  There are now nearly 150 <a href="/toolbar_button/firefox/">Firefox</a> and 100 for <a href="/toolbar_button/thunderbird/">Thunderbird</a>. You will find buttons that enable hidden functionality or is too many clicks away, but some of the best buttons are those unique to the extension.  For example from some of out most popular buttons, there are menu items for, Options,  Bookmark Manager, Bookmark Page, and Add-ons, but for Snap Back, Restart and about:config there is no existing user interface. There have been nearly 2 million downloads to date.
        </p>
        <p>
            To find out more information about each of the buttons, please see our <a href="/toolbar_button/button_list/"><strong>Button List</strong></a> which has descriptions of all the buttons.
        </p>
       </div>
     </div>
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/pastel-svg/32/cog.png" width="32" height="32" alt="" /> <a href="/toolbar_button/toolbar_button_maker/">Custom Button Maker</a></h2>
        <p>
            If you don't want to have all the button in Toolbar Buttons, but rather just the sub set that you want, you can use the <a href="/toolbar_button/toolbar_button_maker/">Custom Button Maker</a> to create just that. It allows you to select buttons from a list and have an extension made with just your selection. It also has a number of extra features over the main release, including, extra buttons, expanded options window.
        </p>
        <p>
            The Custom Button Maker also servers as a testing ground for new buttons and features, those that prove popular are added to the main extension. 
        </p>
      </div>
     </div>
    </div>
    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
       <h2><img src="/static/images/pastel-svg/32/world.png" width="32" height="32" alt="" /> <a href="/toolbar_button/link-button-maker/">Link Buttons</a></h2>
        <p>
            We have been asked for buttons that open many different web pages, so we created a simple tool, the <a href="/toolbar_button/link-button-maker/">link button maker</a>, so that you can easily create toolbar buttons to any page you wish.
        </p>
      </div>
     </div>
     <div class="front-page-cell">
      <div class="front-page-cell-content">
              <h2><img src="/static/images/icons/color-wheel.png" width="32" height="32" alt="" /><a href="http://colorpicker.net/">Colour Picker</a></h2>
        <p>
         <a href="http://colorpicker.net/">Sharp Colour Picker</a> a tool that lets you pick colours using colour wheel, web safe colour pallet, and HSL Panel. 
        </p>
      </div>
     </div>
    </div>

    <div class="front-page-row">
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/icons/minimize.png" width="32" height="32" alt=""><a href="/minimizetotray/">MinimizeToTray Plus</a></h2>
        <p>
         <a href="/minimizetotray/">MinimizeToTray Plus</a> will minimise the current window to the system tray for Firefox, Thunerbird and Sunbird among others.  It also has a selection of options including ones to enable it to minimize the window instead of closing and open the application at system start-up.
        </p>
      </div>
     </div>
     
     <div class="front-page-cell">
      <div class="front-page-cell-content">
        <h2><img src="/static/images/icons/pastel-svg.png" width="32" height="32" alt="" /><a href="/pastel-svg/">Pastel SVG Icons</a></h2>
        <p>
           <a href="/pastel-svg/">Pastel SVG</a> is an icon set based on the popular silk icons found as <a href="http://famfamfam.com/">FamFamFam.com</a>. It uses the same style, so some of the icons are almost identical.  The goal of the project is to recreate the entire set in a full range of sizes while also adding many icons that we think the original set is missing.
        </p>
      </div>
     </div>
    </div>
   </div>
   </div>
{% endblock %}
