{% load field_form %}

{% if identifier %}
    <form action="{% url 'page-edit-ident' identifier=name page=page.id %}" method="post" class="field-form">
{% else %}
    <form action="{% url 'page-edit' name=name page=page.id %}" method="post" class="field-form">
{% endif %}
    <script type="text/javascript">
		var controls = {
			bold          : { visible : true },
			italic        : { visible : true },
			underline     : { visible : true },
			strikeThrough : { visible : true },
			
			justifyLeft   : { visible : true },
			justifyCenter : { visible : true },
			justifyRight  : { visible : true },
			justifyFull   : { visible : true },

			indent  : { visible : true },
			outdent : { visible : true },

			subscript   : { visible : true },
			superscript : { visible : true },
			
			undo : { visible : true },
			redo : { visible : true },
			
			insertOrderedList    : { visible : true },
			insertUnorderedList  : { visible : true },
			insertHorizontalRule : { visible : true },

			h4: {
				visible: true,
				className: 'h4',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h4>' : 'h4',
				tags: ['h4'],
				tooltip: 'Header 4'
			},
			h5: {
				visible: true,
				className: 'h5',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h5>' : 'h5',
				tags: ['h5'],
				tooltip: 'Header 5'
			},
			h6: {
				visible: true,
				className: 'h6',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h6>' : 'h6',
				tags: ['h6'],
				tooltip: 'Header 6'
			},
			html  : { visible: true },
			increaseFontSize : { visible : true },
			decreaseFontSize : { visible : true },
		  };
    </script>
    {% for form in forms %}
        <fieldset>
            <legend>{{ form.Meta.model.name }}</legend>
            <!-- for the rich text editor -->
            {% for field in form %}
                  {% if field.field.widget|is_textarea %}
                    <script type="text/javascript">
                    (function($) {
	                    $(document).ready(function() {
 		                    $('#{{ field.id_for_label }}').wysiwyg({
                                css: '{% get_static_prefix %}css/style.content.css',
                                controls: controls,
                                initialContent: null,
                            });
	                    });
                    })(jQuery);
                    </script>
                  {% endif %}
            {% endfor %}

            {% form form %}
        </fieldset>
    {% endfor %}
    <fieldset>
         <legend>Select new item to add</legend>
        {% form new_block %}
    </fieldset>
    <fieldset>
        <legend>Submit</legend>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </fieldset>
</form>
